<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 th:text="${greeting}"></h1>
<h2> Routes </h2>


<div>
    <h2>Auth</h2>
    <p>Register: /register</p>
    <p>Login: /login</p>
    <p>Logout: /logout</p>
</div>

<div>
    <h3> Transactions: </h3>
    <p>POST transaction acc to CATEGORYTYPE: /api/v1/:transactiontype (expenses, incomes) </p>
    <p>GET transaction by TID: /transactions/:TID</p>
    <p>PATCH transaction by TID: /transactions/:TID</p>
    <p>DELETE transaction by TID including all related transactions: TODO </p>
    <p>GET all transactions by category type(expense, income, all) between 2 dates: /api/v1/transactions?income=BOOLEAN&from=DATESTRING&expense=BOOLEAN&to=DATESTRING </p>
    <p>GET all transactions in a category by CID between two dates: /api/v1/categories/transactions/:CID?from=DATESTRING&to=DATESTRING </p>
</div>
<div>
    <h3>Categories</h3>
    <p> GET list of existing categories and their Ids: /categories/:type (expenses, incomes, all)</p>
    <p> POST category: /categories</p>
    <p> PATCH category: TODO</p>
    <p> DELETE category& all associated transactions: TODO </p>
</div>


</body>
</html>